/* ============== COMMON STYLES ============== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}


button {
    cursor: pointer;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}



body {
    font-family: "Sen", sans-serif;
    second-family: "Bahnschrift", sans-serif;
    background-color: #000;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



.container {
    max-width: 375px;
    margin: auto;
}

/* ============== MOBILE HEADER ============== */

.header-menu {
    display: none;
}

.logo-icon {
    fill: #fff;
}

.header-container {
    max-width: 375px;
    height: 72px;
    padding: 24px 20px;
    display: flex;
    justify-content: space-between;
}

.mobile-menu-open-btn-icon {
    fill: #C4C4C4;
    
}

.mobile-menu-open-btn {
    background-color: transparent;
    border: none;
}

/* ============== /MOBILE HEADER ============== */

/* ============== MOBILE HERO ============== */

.hero {
    margin: auto;
}

.container-hero {
    max-width: 375px;     
}

.experienc-page::before {
    content: "";
    width: 100%;
    height: 1px;
    background: #C4C4C4;
    display: block;
    position: relative;
    left: 0;
}

.form-hero {
    padding: 48px 20px;
}

.main-title {
     font-weight: 700;
     font-size: 32px;
     color: #fff;
     margin-bottom: 16px;
}

.where-is {
    color: rgba(255, 255, 255, 0.5);
}

.description-hero {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
}

.about-photo {
    margin: auto;
    object-fit: cover;
}

/* ============== /MOBILE HERO ============== */

/* ============== MOBILE EXPERIENC ============== */

.container-experienc {
    padding: 48px 20px;
}

.experienc-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #8491a0;
    padding-bottom: 8px;
}

.experienc-work {
    font-weight: 700;
    font-size: 32px;
    color: #fff;
    padding-bottom: 40px;
}

.experienc-item {
    padding-bottom: 40px;
}

.experienc-number {
    font-weight: 400;
    font-size: 117px;
    color: #8491a0;
}

.item-experienc-name {
    font-weight: 700;
    font-size: 24px; 
    line-height: 1.5;
    color: #fff;
    padding-bottom: 16px;
}

.item-experienc-description {
    font-weight: 400;
    font-size: 16px; 
    line-height: 1.5;
    color: #8491a0;
}

.green {
    color: #3cc74e;
}

.blue {
    color: #609bff;
}

.red {
    color: #e95d90;
}

/* ============== /MOBILE EXPERIENC ============== */

/* ============== MOBILE VALUE ============== */

.value-container {
    background: #fff3e4;
}

.value-text {
    padding: 48px 20px;
    height: 450px;
}

.value-title {
    font-weight: 700;
    font-size: 32px;
    color: #181823;
    padding-bottom: 24px;
}

.value-description {
    font-weight: 400;
    font-size: 18px; 
    line-height: 1.5;
    color: #5b6876;
    padding-bottom: 81px;
    max-width: 320px;
}

.value-sending {
    font-weight: 400;
    font-size: 16px; 
    line-height: 1.5;
    color: #181823;
    border-bottom: 1px solid #8491a0;
    width: 116px;
    height: 0px;
}

.about-photo-value{
    margin: auto;
}

/* ============== /MOBILE VALUE ============== */

/* ============== MOBILE SKILLSET ============== */

.skillset-page {
    padding-top: 64px;
    padding-bottom: 64px;
}

.skillset-container {
    padding-left: 20px;
    padding-right: 20px;
}

.skillset-text {
    margin-bottom: 69px;
}

.skillset-title {
    font-weight: 700;
    font-size: 32px;
    color: #fff;
    padding-bottom: 16px;
}

.skillset-description {
    font-weight: 400;
    font-size: 18px; 
    line-height: 1.5;
    color: #8491a0;
}

.item-title-skillset {
    font-weight: 700;
    font-size: 24px; 
    line-height: 1.5;
    color: #fff;
    padding-top: 24px;
    padding-bottom: 12px;
}

.item-description-skillset {
    font-weight: 400;
    font-size: 16px; 
    line-height: 1.5;
    color: #8491a0;
}

.skillset-icon {
    fill: #5221e6;
}

.skillset-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

/* ============== /MOBILE SKILLSET ============== */

@media screen and (min-width: 768px) {

/* ============== TABLET HEADER ============== */

.container {
    max-width: 768px;
}

.mobile-menu-open-btn {
    display: none;
}

.header-menu {
    display: block;
}

.header-container {
    padding: 32px 40px;
    height: 88px;
}

.header-navigation {
    display: flex;
    gap: 133px;
}

.header-menu {
    display: flex;
}

.menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    padding: 32px 24px;
    width: 132px;
    height: 88px;
}

.menu-link:hover,
.menu-link:focus {
    background-color: #5221e6;
}

/* ============== /TABLET HEADER ============== */

/* ============== TABLET HERO ============== */

.container-hero {
   display: flex;
   align-items: center;
   margin-top: 80px;
   margin-bottom: 80px;
}

.form-hero {
    padding: 0;
    margin-left: -65px;
    max-width: 400px;
    height: 475px;
}

.main-title {
    font-size: 56px;
    margin-bottom: 32px;
   line-height: normal;
}

/* ============== /TABLET HERO ============== */

/* ============== TABLET EXPERIENC ============== */

.container-experienc {
    padding: 80px 40px;
}

.experienc-work {
    font-size: 55px;
}

.experienc-list {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}

.experienc-item {
    max-width: 212px;
    height: 393px;
    padding: 0;
}

.item-experienc-name {
    max-width: 197px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
}

/* ============== /TABLET EXPERIENC ============== */

/* ============== TABLET VALUE ============== */

.value-container {
    display: flex;
}

.value-text {
    padding: 80px 40px;
    height: 600px;
    max-width: 384px;
}

.value-title {
    font-size: 55px;
    max-width: 304px;
}

.value-description {
    padding-bottom: 67px;
}

/* ============== /TABLET VALUE ============== */

}

@media screen and (min-width: 1440px) {

/* ============== DESKTOP HEADER ============== */

.container {
    max-width: 1440px;
}

.header-container {
    padding: 32px 72px;
}

.header-navigation {
    gap: 742px;
}

/* ============== /DESKTOP HEADER ============== */

/* ============== DESKTOP HERO ============== */

.container-hero {
    max-width: 1400px;
    margin-left: 0;
}

.form-hero {
    max-width: 738px;
}

.main-title {
    font-size: 78px;
}

/* ============== /DESKTOP HERO ============== */

/* ============== DESKTOP EXPERIENC ============== */



.container-experienc {
    padding: 120px 72px;
}

.experienc-work {
    max-width: 690px;
}

.experienc-item {
    max-width: 416px;
    height: 247px;
}

.experienc-list {
    column-gap: 24px;
}

.item-experienc-name {
    display: block;
    max-width: none;
}

/* ============== /DESKTOP EXPERIENC ============== */

/* ============== DESKTOP VALUE ============== */

.value-text {
    padding: 120px 72px;
    max-width: 720px;
}

.value-title {
    max-width: 529px;
}

.value-description {
    max-width: 576px;
    padding-bottom: 134px;
}

/* ============== /DESKTOP VALUE ============== */
    
}

