/* ============== COMMON STYLES ============== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}


button {
    cursor: pointer;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: "Sen", sans-serif;
    second-family: "Bahnschrift", sans-serif;
    background-color: #000;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 360px;
    padding: 0 16px;
    margin: auto;
}

/* ============== MOBILE HEADER ============== */

.header-menu {
    display: none;
}

.logo-icon {
    fill: #fff;
}

.header-container {
    max-width: 360px;
    height: 72px;
    padding: 24px 20px;
    display: flex;
    justify-content: space-between;
}

.mobile-menu-open-btn-icon {
    fill: #C4C4C4;
    
}

.mobile-menu-open-btn {
    background-color: transparent;
    border: none;
}

/* ============== /MOBILE HEADER ============== */

/* ============== MOBILE HERO ============== */

.container-hero {
    max-width: 360px;
    padding: 48px 20px;
}

.form-hero {
    padding-bottom: 16px;
}

.main-title {
     font-weight: 700;
     font-size: 32px;
     color: #fff;
}

.where-is {
    color: rgba(255, 255, 255, 0.5);
}

.description-hero {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
}



/* ============== /MOBILE HERO ============== */

@media screen and (min-width: 768px) {

/* ============== TABLET HEADER ============== */

.container {
    max-width: 768px;
}

.mobile-menu-open-btn {
    display: none;
}

.header-menu {
    display: block;
}

.header-container {
    padding: 32px 40px;
    height: 88px;
}

.header-navigation {
    display: flex;
    gap: 133px;
}

.header-menu {
    display: flex;
}

.menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    padding: 32px 24px;
    width: 132px;
    height: 88px;
}

.menu-link:hover,
.menu-link:focus {
    background-color: #5221e6;
}

/* ============== /TABLET HEADER ============== */

}

@media screen and (min-width: 1440px) {

/* ============== DESKTOP HEADER ============== */

.container {
    max-width: 1440px;
}

.header-container {
    padding: 32px 72px;
}

.header-navigation {
    gap: 742px;
}

/* ============== /DESKTOP HEADER ============== */
    
}

